<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_claw"
			section="component"
		 />
	</fieldset>
	<fieldset
		name="skills"
		label="S&amp;E"
		description="Settings for Skills and Education"
		>
			<field
				name="se_group"
				type="UserGroupList"
				label="Submission Group"
				description="Select group allowed to submit"
				layout="joomla.form.field.list-fancy-select"
				checksuperusergroup="1"
				default=""
				multiple="0"
				>
				<option value="0">Select group</option>
			</field>

			<field 
				name="se_submissions_open"
				type="radio"
				default="0"
				label="Submissions Open"
				description=""
				class="btn-group btn-group-yesno"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>

			<field 
				name="se_survey_link"
				type="menuitem"
				label="Survey RS Form Menu Item"
			>
				<option value="">JDEFAULT</option>
			</field>

			<field
				name="se_notification_email"
				type="email"
				label="Notification Email"
				default="education@clawinfo.org"
				required="true"
				validate="email"
			/>
	</fieldset>
	<fieldset
		name="cron"
		label="Cron"
		description="Settings for Cron Tasks">

		<field
			name="profiles_eventalias"
			type="text"
			label="Profiles Event Alias"
			default=""
			required="false"
		/>

		<field
			name="profiles_cronkey"
			type="text"
			label="Profiles Cron Key"
			default=""
			required="false"
		/>

		<field
			name="shifts_eventalias"
			type="text"
			label="Shifts Event Alias"
			default=""
			required="false"
		/>

		<field
			name="shifts_cronkey"
			type="text"
			label="Shifts Cron Key"
			default=""
			required="false"
		/>

	</fieldset>

</config>
